# Build directories
/build/
/bin/
/obj/
/deps/
/include/
/outputs/
# Compiled object files
*.o
*.obj
# Executables
*.exe
*.out
*.app
# Libraries
*.lib
*.a
*.so
*.dylib
# Debug files
*.pdb
*.dwo
# IDE-specific files
vscode/
*.sln
*.user
# outputs
*.vtk

.claude/
resources/
help/
CLAUDE.md
PLAN.md